<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
    </head>
    <body>
        <main id="about-container">
            <section id="content-about">
                <p data-section="pages" data-value="about-content"> Soy desarrollador web con 2 años de experiencia en el Front End, especializado en JavaScript, también uso frameworks y librerías.
                    <br>
                    <br>
                Tengo experiencia contruyendo paginas web desde cero con CSS puro y con pre-procesadores como SASS y LESS, utlizo sus frameworks como Boostrap y Tailwind. Puedo crear prototipos con herramientas de diseño como Figma.
                    <br>
                    <br>
                Mi formación base inició en la escuela de Desarrollo Web de Platzi y al día de hoy me mantengo actualizado y aprendiendo nuevas herramientas tecnológicas, aplico el lema "NUNCA PARAR DE APRENDER" para tener conocimientos mas específicos de manera autodidacta.
                    <br>
                    <br>
                La programación me enseñó que todos los días nos encontramos con problemas, realizar un buen análisis, crear estrategias adecuadas, generan resultados de alta calidad.
                </p>
            </section>
        </main>
    </body>
</html>