<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Skills</title>
    </head>
    <body>
        <main class="skills-content">
            <section class="content-skills">
                <p> I have developed my skills with the following technologies.</p>
                <div class="skills-container">
                    <img src="./img/Technologies.png" alt="">
                </div>
            </section>
            <div class="button-next">
                <a>
                    <img class="icon-arrow-down" src="./assets/icons/expand_more.svg" alt="Icono flecha desplaza hacia abajo">
                </a>
            </div>
        </main>
    </body>
</html>