<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Training</title>
    </head>
    <body>
        <main class="training-content">
            <div class="button-back">
                <a href="../work/work.html" target="_blank">
                    <img class="icon-arrow-down" src="./assets/icons/expand_more.svg" alt="Icono flecha desplaza hacia abajo">
                </a>
            </div>
            <section class="content-training">
                <p>Diplomas from courses in which I have updated my skills</p>
            </section>
        </main>
    </body>
</html>