
.section-content {
    display: grid;
    grid-template-rows: 1fr 10%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.content-about {
    grid-row: 1 / 2;
    margin: 40px;
    padding: 20px;
    width: 100%
}

.content-about p {
    font-size: 3em;
    text-align: justify;
}