* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Index Section */
/* Navigation */

#header-menu {
    display: grid;
    grid-template-rows: 250px auto 200px;
    grid-template-columns: 1fr;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
    color: #fff;
    background-color: rgb(31, 119, 93);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

#home-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 190px;
    height: 100%;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
#home-section .icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    transition: transform .5s ease-in-out;
}
#home-section .icon:hover {
    transform: scale(1.5);
}
#home-section #text {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-align: center;
}

#home-section #home {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-image: url('./assets/icons/general/home.svg');
    width: 50px;
    height: 50px;
}
#home-section #language {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-image: url('./assets/icons/general/language.svg');
}
#home-section #dark-mode {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-image: url('./assets/icons/general/switch-off.svg');
}

#menu-general {
    display: grid;
    grid-template-rows: repeat(4, 80px);
    grid-row: 2 / 3;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 190px;
    height: 370px;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#menu-general .buttonMenu {
    display: flex;
    width: 150px;
    height: 70px;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 2.4em;
    font-weight: bold;
    color: white;
    background-color: rgb(31, 119, 93);
    border: 2px solid black;
    border-radius: 15px;
    transition: transform .5s ease-in-out;
}
#menu-general .buttonMenu:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 5px rgba(11, 99, 66, 0.600);
    cursor: pointer;
}

#menu-general .buttonMenu.active {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8) inset;
    transition: transform .5s ease-in-out;
}

#social-media {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row: 3 / 4;
    gap: 10px;
    width: 190px;
    height: 80%;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
#social-media .icon {
    transition: transform .5s ease-in-out;
}
#social-media .icon:hover {
    transform: scale(1.5);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
    border-radius: 50%;
}

#social-media .icon div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#social-media #whatsapp {
    background-image: url('./assets/icons/socialMedia/whatsapp.svg');
}
#social-media #gmail {
    background-image: url('./assets/icons/socialMedia/gmail.svg');
}
#social-media #github {
    background-image: url('./assets/icons/socialMedia/github.svg');
}
#social-media #linkedin {
    background-image: url('./assets/icons/socialMedia/linkedin.svg');
}

/* Principal */

#main-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 10px;
    padding: 10px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateY(0);
}
#main-content.hide {
    opacity: 0;
    transform: translateY(20px);
}

#content-profile {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#content-profile p {
    font-size: 6em;
    font-weight: bold;
}

#content-profile a {
    margin: 20px 0;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb(31, 119, 93);
    border: 2px solid black;
    border-radius: 15px;
    transition: transform .5s ease-in-out;
}
#content-profile a:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 5px rgba(11, 99, 66, 0.600);
}

#content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
#content-image img {
    display: block;
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: -1px 1px 22px 14px rgba(11,99,66,1);
    transition: transform .5s ease-in-out;
}
#content-image img:hover {
    transform: scale(1.2);
}

/* About Section */

#about-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateY(0);
}
#about-container.hide {
    opacity: 0;
    transform: translateY(20px);
}

#content-about {
    margin: 10px;
    padding: 10px;
    width: 80%
}

#content-about p {
    font-size: 3em;
    text-align: justify;
}

/* Skills Section */

#skills-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 10px;
    align-items: center;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateY(0);
}
#skills-container.hide {
    opacity: 0;
    transform: translateY(20px);
}

#content-skills {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

#content-skills p {
    margin: 10px;
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

#skills-image {
    margin: 10px;
    padding: 10px;
}

/* Work Section */

#work-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 10px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateY(0);
}
#work-container.hide {
    opacity: 0;
    transform: translateY(20px);
}

#content-work {
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    font-size: 2em;
}

/* Training Section */

#training-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 10px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 1;
    transform: translateY(0);
}
#training-container.hide {
    opacity: 0;
    transform: translateY(20px);
}

#content-training {
    font-size: 2em;
}

