* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #06533e;
    color: #fff;
    height: 30%;
    padding: 20px;
    font-size: 2em;
}
header h1 {
    padding: 10px;
}
/* Estilos para la barra de navegación en el encabezado */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {

    list-style: none;
    display: block;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    height: 50%;
}

/* Estilos para las secciones dentro del contenido principal */
section {
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: rgb(79, 168, 141);
}
section img {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    width: 50%;
    max-width:100%;
}

/* Estilos para el pie de página */
footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: flex-end;
    font-size: 2em;
}
footer ul {
    list-style: none;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
}